
.container{
    display: flex;
    /*flex-direction:row;*/
    /*-wrap: wrap;*/
    /*justify-content: space-around;*/
    align-content: flex-end;
}
#one{
    background-color: crimson;
    width: 200px;
    height: 200px;
    flex-grow: 8; /**/
}
#two{
    background-color: darkorchid;
    width: 200px;
    height: 200px;
    flex-shrink: 0;/**/
}
#three{
    background-color: yellow;
    width: 200px;
    height: 200px;
    flex-basis: 500px; /**/
}